.card {
  background-color: var(--color-card-background);
  border-radius: 1rem;
  padding: 1.5rem;
  transition: box-shadow 300ms, transform 300ms;
  max-width: 21.875rem;
}

.card:hover {
  box-shadow: 0 0 0.9375rem var(--color-card-shadow);
  transform: scale(1.04);
}

.card__figure {
  border-radius: .5rem;
  cursor: pointer;
  margin-bottom: 1.5rem;
  overflow: hidden;
  position: relative;
}

.card__figure::before {
  background: url("../images/icon-view.svg") no-repeat center var(--color-card-preview);
  display: inline-block;
  content: "";
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: opacity 200ms;
  width: 100%;
}

.card__figure:hover::before {
  opacity: 1;
}

.card__image {
  display: block;
  width: 100%;
}

.card__title {
  color: var(--color-neutral);
  font-size: 1.38rem;
  margin-bottom: 1rem;
}

.card__text {
  color: var(--color-primary-blue);
  font-size: 1rem;
  margin-bottom: 1.4rem;
  line-height: 1.4;
}

.card__information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.card__price {
  background: url("../images/icon-ethereum.svg") no-repeat left center / auto 90%;
  color: var(--color-primary-cyan);
  padding-left: 1.1rem;
}

.card__time-left {
  background: url("../images/icon-clock.svg") no-repeat left center / auto 80%;
  color: var(--color-primary-blue);
  padding-left: 1.5rem;
}

.card__link {
  color: var(--color-neutral);
  transition: color 400ms;
}

.card__link:hover {
  text-decoration: underline;
}

.card__link:focus {
  outline: .1rem dashed var(--color-primary-cyan);
  outline-offset: .15rem;
}

.card__link:hover,
.card__link:focus {
  color: var(--color-primary-cyan);
}

.card__footer {
  align-items: center;
  border-top: .0625rem solid var(--color-card-line);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 1rem;
}

.card__footer::before {
  --size-avatar: 2.063rem;
  background: url("../images/image-avatar.png") no-repeat center / cover;
  border: .0625rem solid var(--color-neutral);
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: var(--size-avatar);
  width: var(--size-avatar);
}

.card__creator {
  color: var(--color-primary-blue);
}

@media screen and (min-width: 24.375rem) {
  .card__text {
    font-size: 1.13rem;
  }

  .card__information {
    margin-bottom: 1.5rem;
  }

  .card__footer {
    padding-bottom: 0.5rem
  }
}