:root {
  --color-main-background: hsl(217, 54%, 11%);
  --color-card-background: hsl(216, 50%, 16%);
  --color-card-line: hsl(215, 32%, 27%);
  --color-neutral: hsl(0, 0%, 100%);
  --color-primary-blue: hsl(215, 51%, 70%);
  --color-primary-cyan: hsl(178, 100%, 50%);
  --color-card-preview: hsla(178, 100%, 50%, .5);
  --color-card-shadow: rgba(0, 0, 0, .35);
}

.wrapper {
  align-items: center;
  background-color: var(--color-main-background);
  display: flex;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  justify-content: center;
  min-height: 100vh;
  padding: 3rem 1.406rem;
  position: relative;
}

a:focus {
  outline: 0.1rem dashed var(--color-primary-cyan);
  outline-offset: 0.15rem;
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 600;
}

.footer {
  bottom: 0.65rem;
  color: var(--color-neutral);
  font-size: 0.95rem;
  position: absolute;
  text-align: center;
}

.footer__link {
  color: var(--color-primary-cyan);
  text-decoration: underline;
}