@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
@import url("./reset.css");

:root {
  --color-main-background: hsl(217, 54%, 11%);
  --color-card-background: hsl(216, 50%, 16%);
  --color-card-line: hsl(215, 32%, 27%);
  --color-neutral: hsl(0, 0%, 100%);
  --color-primary-blue: hsl(215, 51%, 70%);
  --color-primary-cyan: hsl(178, 100%, 50%);
}

.wrapper {
  align-items: center;
  background-color: var(--color-main-background);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.text {
  font-family: 'Outfit', sans-serif;
}

.card {
  background-color: var(--color-card-background);
  border-radius: 1rem;
  padding: 1.25rem;
  max-width: 320px;
}

.card__image {
  border-radius: .75rem;
  margin-bottom: 1rem;
  width: 100%;
}

.card__title {
  color: var(--color-neutral);
  margin-bottom: 1rem;
}

.card__text {
  color: var(--color-primary-blue);
  line-height: 140%;
  margin-bottom: 1rem;
}

.card__information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.card__price {
  background: url("../images/icon-ethereum.svg") no-repeat left center;
  color: var(--color-primary-cyan);
  font-weight: 600;
  padding-left: 1.25rem;
}

.card__time-left {
  background: url("../images/icon-clock.svg") no-repeat left center;
  color: var(--color-primary-blue);
  padding-left: 1.25rem;
}

.card__footer {
  align-items: center;
  border-top: 2px solid var(--color-card-line);
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  padding: 1rem 0;
}

.card__avatar {
  background: url("../images/image-avatar.png") no-repeat center / cover;
  border: 2px solid var(--color-neutral);
  border-radius: 50%;
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
}

.card__creator {
  color: var(--color-primary-blue);
}

.card__highlight {
  color: var(--color-neutral);
}